<aside fragment="sidebar " class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href="/admin/dashboard.html"><i class="fa fa-dashboard"></i> <span>Coupon Site Dashboard</span></a>
            </li>
            <li class="treeview">
                <!-- <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Admin Settings</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a> -->
            <li id="customerActive"><a href="/admin/shop"><i class="fa fa-circle-o"></i>
                    Shop</a></li>
            <li id="teamActive"><a href="/admin/category"><i class="fa fa-circle-o"></i>
                    Categories</a></li>
            <ul class="treeview-menu">
                <li id="infoActive"><a href="/admin/customers"><i class="fa fa-circle-o"></i>
                        Customer</a></li>
                <li id="bannerActive"><a href="/admin/banners"><i class="fa fa-circle-o"></i>
                        Banner</a></li>

                <li id="infoActive"><a href="#"><i class="fa fa-circle-o"></i>
                        Information</a></li>
                <li id="infoActive"><a href="/admin/panel"><i class="fa fa-circle-o"></i>
                        Admin Panel</a></li>

            </ul>
            </li>
        </ul>
    </section>
</aside>